:root {
  text-transform: none !important;
}

* {
  text-transform: none !important;
}
:root {
  --_color---white: #F5EFE6 !important;
  --_color---main: #3A5A40 !important;
  --_color---black: #3A5A40 !important;
  --_color---whitness: #F5EFE6 !important;
  --_color---milk: #F5EFE6 !important;
  --_color---grey-dark: #2C3E30 !important;
  --_color---grey-middle: #3A5A40 !important;
  --_color---grey-soft-dark: #A6B79E !important;
  --_color---grey-light: #F5EFE6 !important;
  --_color---about-card-default: #3A5A40 !important;
  --_color---overlay-card-about: #F5EFE6 !important;
  --_color---back: #F5EFE6 !important;
  --_color---hover-milk-btn: #D4A373 !important;
  --font-family--heading: var(--font-prata) !important;
  --font-family--text: var(--font-bricolage) !important;
  --font-family--design: var(--font-prata) !important;
}

.wf-force-outline-none[tabindex="-1"]:focus{outline:none;}
html.w-mod-js:not(.w-mod-ix3) :is([data-wf-target*='["12da9841-249e-97ce-ecc8-2662b5036a25","2e41c0d4-f526-132a-76b1-4d374f6eb4a3"]'], [data-wf-target*='["12da9841-249e-97ce-ecc8-2662b5036a25","2e41c0d4-f526-132a-76b1-4d374f6eb4a4"]'], .content_apatments-slider, .content_apatments-back.is-first, .content_apatments-back.is-second, .content_apatments-slide-number, .swiper-tools, .apartments_footer_bttn, .apartments_footer.is-pc.is-anim, .apartments_footer.is-pc.is-pc-main, .apartments_main_head, .apartments_main_advantages, .content_apatments-slider--overlay, .content_approach-scroll, .content_apatments-slide, .apartments_main_advantage.is-one, .apartments_main_advantage.is-two, .apartments_main_advantage.is-three, .apartments_main_advantage-tag.is-relative.is-two, .apartments_main_advantage-tag.is-relative.is-three, .caption-mobile, .apartments_main_head-container) {visibility: hidden !important;}

html.lenis {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
  
}


html.preloader-skip .preloader {
  display: none !important;
  background-color: transparent !important;
  pointer-events: none;
}
html.preloader-skip .preloader_back,
html.preloader-skip .preloader_image-abs,
html.preloader-skip .preloader-content,
html.preloader-skip .preloader_text {
  opacity: 0 !important;
  visibility: hidden;
}
html.preloader-skip .header {
  opacity: 1 !important;
}
html.preloader-skip .hero-content_wrapper {
  opacity: 1 !important;
  transform: none !important;
}
html:not(.preloader-skip) .hero-content_wrapper {
  opacity: 0;
  transform: translateY(3%);
}
html:not(.preloader-skip) .image-hero {
  position: relative;
  width: 4svw;
  height: 4svw;
  overflow: hidden;
}
@media (max-width: 767px) {
  html.preloader-skip .image-hero {
    width: 100svw !important;
    height: 210svw !important;
  }
}
@media (min-width: 768px) {
  html.preloader-skip .image-hero {
    width: 100svw !important;
    height: 80svw !important;
  }
}

:root{--font-from:20;--font-to:20;--vw-from:calc(1920 / 100);--vw-to:calc(2400 / 100);--coefficient:calc((var(--font-to) - var(--font-from)) / (var(--vw-to) - var(--vw-from)));--base:calc((var(--font-from) - var(--vw-from) * var(--coefficient)) / 16);}html{font-size:calc(var(--base) * 1rem + var(--coefficient) * 1vw);}@media screen and (max-width: 1920px){:root{--font-from:18;--font-to:20;--vw-from:calc(1440 / 100);--vw-to:calc(1920 / 100);}}@media screen and (max-width: 1440px){:root{--font-from:16;--font-to:18;--vw-from:calc(768 / 100);--vw-to:calc(1440 / 100);}}@media screen and (max-width: 768px){:root{--font-from:16;--font-to:16;--vw-from:calc(375 / 100);--vw-to:calc(768 / 100);}}@media screen and (max-width: 375px){:root{--font-from:14;--font-to:16;--vw-from:calc(1 / 100);--vw-to:calc(375 / 100);}}

  [data-cookie='trigger'].active {
    display: flex;
    opacity: 100%;
    transform: translateY(0px);
    pointer-events: auto;
  }
  /* all page attention css */
  html {
    scrollbar-gutter: stable;
  }
  ::selection {
    background: var(--color--main);
    color: var(--color--whitness);
  }
  ::-moz-selection {
    background: var(--color--main);
    color: var(--color--whitness);
  }
  body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
  }
  /* Видно ТОЛЬКО в Designer */
  .wf-design-mode .designer-only {
    display: grid !important;
  }

  /* Скрыто в Designer, видно на production */
  .wf-design-mode .production-only {
    display: none !important;
  }

  /* По умолчанию скрываем designer-элементы на проде */
  .designer-only {
    display: none !important;
  }
  .u-link.is-cms {
    position: relative;
  }
  .u-link.is-cms:before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0%;
    height: 1px;
    background-color: currentcolor;
    transition: 0.35s ease-out all;
    z-index: 1;
    pointer-events: none;
    opacity: 1;
  }
  .content_blog-item:hover .u-link.is-cms:before {
    width: 100%;
  }
  a[data-wf--text-link--settings-variant]:before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0%;
    height: 1px;
    background-color: currentcolor;
    transition: 0.35s ease-out all;
    z-index: 1;
    pointer-events: none;
    opacity: 1;
  }
  a[data-wf--text-link--settings-variant]:hover:before {
    width: 100%;
  }
  a[data-wf--text-link--settings-variant='address-link']:hover:before {
    width: 0%;
  }
  a[data-wf--text-link--settings-variant='cms-link']:hover:before {
    width: 0%;
  }
  a[data-wf--text-link--settings-variant='docs-link']:before {
    width: 100%;
  }
  .u-input:placeholder-shown {
    border-color: var(--_color---gret-soft-light);
  }
  .u-input:placeholder-shown:hover {
    border-color: var(--_color---main);
  }
  .u-input:placeholder-shown:active {
    border-color: var(--_color---main);
  }
  .u-input:placeholder-shown:focus {
    border-color: var(--_color---main);
  }
  .field-wrapper.is-check:before {
    display: none !important;
  }
  .field-wrapper.is-check:after {
    display: none !important;
  }
  .check:focus {
    box-shadow: none !important;
    outline: none !important;
    border-color: var(--_color---main) !important;
  }
  .check:active {
    box-shadow: none !important;
    outline: none !important;
    border-color: var(--_color---main) !important;
  }
  .check:hover {
    box-shadow: none !important;
    outline: none !important;
    border-color: var(--_color---main) !important;
  }
  .is-white {
    color: var(--_color---whitness);
  }
  .u-btn-arrow.is-disable {
    background-color: transparent;
    color: var(--_color---gret-soft-light);
    border-color: var(--_color---gret-soft-light);
  }
  .u-modal {
    pointer-events: none;
  }
  @media screen and (min-width: 768px) {
    .composition_card-middle:nth-child(2) {
      width: 9.7%;
      aspect-ratio: 140 / 164;
      height: auto;
      position: absolute;
      top: 30rem;
      left: 0%;
      transform: translate(0px, 0px);
    }
    .composition_card-middle:nth-child(2) .content_composition-card-head {
		display: none !important;
    }
    .composition_card-middle:nth-child(3) .content_composition-card-head {
		display: none !important;
    } 
    .composition_card-middle:nth-child(5) .content_composition-card-head {
		display: none !important;
    }
    .composition_card-middle:nth-child(2) .content_composition-card-text {
		display: none !important;
    }
    .composition_card-middle:nth-child(3) .content_composition-card-text {
		display: none !important;
    } 
    .composition_card-middle:nth-child(5) .content_composition-card-text {
		display: none !important;
    } 
    .composition_card-middle:nth-child(3) {
      aspect-ratio: 1;
      width: 14%;
      height: auto;
      position: absolute;
      top: 45rem;
      left: 15%;
      transform: translate(0px, 0px);
    }
    .composition_card-middle:nth-child(4) {
      width: 19.5%;
      height: auto;
      aspect-ratio: 280 / 327;
      position: absolute;
      top: 62rem;
      right: 23.1%;
      left: auto;
      transform: translate(0px, 0px);
    }
    .composition_card-middle:nth-child(5) {
      width: 14.3%;
      height: auto;
      aspect-ratio: 200 / 304;
      position: absolute;
      top: 35rem;
      right: 0%;
      left: auto;
      transform: translate(0px, 0px);
    }
  }
  .u-modal-overlay {
    transition: 0.5s ease-out opacity;
    opacity: 0;
  }
  .u-modal-wrapper {
    transition: 0.35s ease-out all 0.2s;
    opacity: 0;
    transform: translateY(3rem);
  }
  .u-modal.modal_state-open {
    pointer-events: auto;
  }
  .u-modal.modal_state-open .u-modal_close  {
    pointer-events: auto;
    opacity: 1;
  }
  .u-modal.modal_state-open .u-modal-overlay {
    opacity: 1;
  }
  .u-modal.modal_state-open .u-modal-wrapper {
    opacity: 1;
    transform: translateY(0rem);
  }
  .card-about.is-active_about {
    color: var(--_color---whitness);
  }
  .card-about.is-active_about .card-about_overlay--second {
    opacity: 0;
  }
  /* marquee aniamtion */
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes marqueesec {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  .marquee-linline {
    animation: marquee 20s linear infinite;
  }
  .marquee-linline.second {
    animation: marqueesec 20s linear infinite;
  }
  @media screen and (max-width: 767px) {
    .header .nav_trigger.w-dropdown-toggle.w--open .u-btn {
      background-color: var(--_color---milk) !important;
      color: var(--_color---main) !important;
    }
    .header.header--dark .nav_trigger.w-dropdown-toggle.w--open .u-btn {
      background-color: var(--_color---milk) !important;
      color: var(--_color---main) !important;
    }
  }
  .header.header--dark .logo-pc {
    color: var(--_color---main);
  }
  .header.header--dark .logo-mobile {
    color: var(--_color---main);
  }
  .header.header--dark [data-button='scroll'] {
    background-color: var(--_color---milk) !important;
    color: var(--_color---main) !important;
  }
  .header.header--dark [data-button='scroll']:hover {
    background-color: var(--_color---hover-menu-color-dark) !important;
  }
  .header.header--dark [data-button='scroll']:active {
    background-color: var(--_color---whitness) !important;
  }
  .header.header--dark [data-button='scroll']:focus {
    background-color: var(--_color---whitness) !important;
  }
  .header.header--dark .u-btn.w-variant-441b9f6b-569c-5370-292f-da9b4a9ddddd {
    background-color: var(--_color---main);
  }
  .header.header--dark .u-btn.w-variant-441b9f6b-569c-5370-292f-da9b4a9ddddd:hover {
    background-color: var(--_color---grey-dark);
  }
  .header.header--dark .u-btn.w-variant-441b9f6b-569c-5370-292f-da9b4a9ddddd:active {
    background-color: var(--_color---black);
  }
  .header.header--dark .u-btn.w-variant-441b9f6b-569c-5370-292f-da9b4a9ddddd:focus {
    background-color: var(--_color---black);
  }
  .header.header--dark .nav_content .nav_content-inline {
    background-color: var(--_color---milk);
  }
  .content_blog-grid .content_blog-item:nth-child(1) {
    grid-column: 1 / 5;
  }
  .content_blog-grid .content_blog-item:nth-child(2) {
    grid-column: 5 / 13;
  }
  .content_blog-grid .content_blog-item:nth-child(3) {
    grid-column: 1 / 5;
    grid-row: 2 / 2;
  }
  .content_blog-grid .content_blog-item:nth-child(4) {
    grid-column: 5 / 9;
    grid-row: 2 / 2;
  }
  .content_blog-grid .content_blog-item:nth-child(5) {
    grid-column: 9 / 13;
    grid-row: 2 / 2;
  }
  .content_blog-grid .content_blog-item:nth-child(6) {
    grid-column: 1 / 9;
    grid-row: 3 / 3;
  }
  .content_blog-grid .content_blog-item:nth-child(7) {
    grid-column: 9 / 13;
    grid-row: 3 / 3;
  }
  @media screen and (min-width: 768px) {
    .content_blog-grid .content_blog-item:nth-child(2) .u-blog_image {
      aspect-ratio: 92 / 60;
    }
    .content_blog-grid .content_blog-item:nth-child(5) .u-blog_image {
      aspect-ratio: 456 / 304;
    }
    .content_blog-grid .content_blog-item:nth-child(6) .u-blog_image {
      aspect-ratio: 92 / 60;
    }
  }
  .content_apatments_nav .w-slider-dot {
    flex: 1;
    background-color: color-mix(in srgb, transparent, var(--_color---white) 32%);
    transition: 0.35s ease-out all;
    height: 2px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
  }
  .content_apatments_nav .w-slider-dot.w-active {
    background-color: color-mix(in srgb, transparent, var(--_color---white) 100%);
  }
  .content_composition-card:hover .content_composition-card-content {
    opacity: 100%;
  }
  .content_composition-card:hover .content_composition-card-overlay {
    opacity: 100%;
  }
  .header.is-hide {
    transform: translateY(-110%) !important;
  }
  .line-wrap,
  .char-wrap {
    display: block;
  }
  [data-text='caption'] .line-wrap {
    display: flex !important;
    grid-column-gap: 0.444444rem;
    grid-row-gap: 0.444444rem;
  }
  @media scroll and (max-width: 991px) {
    [data-text='caption'] .line-wrap {
      grid-column-gap: 0.5rem;
      grid-row-gap: 0.5rem;
    }
  }
  .swiper-scrollbar.is-projects .swiper-scrollbar-drag {
    background-color: var(--_color---about-card-default) !important;
    transition: 0.35s ease-out all;
  }
  .swiper-scrollbar.is-projects:hover .swiper-scrollbar-drag {
    background-color: var(--_color---main) !important;
  }
  .w-richtext figure {
    max-width: none;
    margin: 2.222rem 0rem;
  }
  .w-richtext h3 {
    font-size: var(--text-sizes--h4);
    line-height: var(--line-height--line-height-h4);
    font-weight: var(--weight--weight-all);
    margin: var(--margin-bottom-rich--mb-h3) 0px;
  }
  @media screen and (max-width: 767px) {
    .w-richtext figure {
      padding: 2.5rem 0rem;
    }
  }
  .projects-all_item:hover .u-btn {
    background-color: var(--_color---hover-milk-btn);
  }
  ul {
    margin-bottom: var(--margin-bottom-rich--mb-body);
    font-family: var(--font-family--text);
    font-size: var(--text-sizes--body);
    line-height: var(--line-height--line-height-body);
    font-weight: var(--weight--weight-all);
    letter-spacing: var(--letter-spacing--letter-spacing-body);
    text-transform: none;
    color: currentcolor;
}


  [data-slider=scrollbar] .swiper-scrollbar-drag {
	height: 4px !important;
    border-radius: 10px;
    top: -1px;
    background-color: var(--_color---white) !important;
  }


  .fixed_component.close {
		pointer-events: none;
    	opacity: 0;
   } 
   .hero_coach.close {
		pointer-events: none;
    	opacity: 0;
    } 


.word-wrap {
  display: inline-block;
  white-space: nowrap;
}

.char-wrap {
  display: inline-block;
}



/* Force images to be visible despite Webflow IX2 initial state */
.is-blur { opacity: 1 !important; filter: none !important; }
